


{% block head_title %}
{{title }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.media %}
    <img src='{{ instance.media.url }}' class='img-fluid' />
    {% endif %}
        {% for field in pic %}
{#             {% thumbnail images "200x200" as im %}#}

            <img src="{{ field.instance}}">
        {% endfor %}
<h1>{{ instance.title }} <small>{{ instance.publish }}</small></h1>

<p>Author: {{ instance.user.get_username}}</p>


<a href="{% url "pinax_messages:message_user_create" user_id=instance.user.id %}" class="btn btn-default">Message {{ instance.user.username }}</a>
sadadsadas

<div class='row'>
<div class='col-sm-12'>

{{ instance.description|linebreaks }}

<hr/>
<br/>


</div>
</div>
</div>


{% endblock content %}