
{% load static %}
{% load thumbnail %}
{% block head_title %}

{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>


<h1>{{ instance.topic }} </h1>

<p>Author: {{ instance.user.get_username}}</p>


     {% thumbnail instance.image1 "x500" as im %}
         <img src="{{ im.url }}">
     {% endthumbnail %} <br>
    {% thumbnail instance.image "x500" as im %}
         <img src="{{ im.url }}">
     {% endthumbnail %} <br>
    {% thumbnail instance.image2 "x500" as im %}
         <img src="{{ im.url }}">
     {% endthumbnail %} <br>
    {% thumbnail instance.image3 "x500" as im %}
         <img src="{{ im.url }}">
     {% endthumbnail %} <br>






<div class='row'>
<div class='col-sm-12'>

{{ instance.description|linebreaks }}

<hr/>
<br/>


</div>
</div>
</div>


{% endblock content %}