<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-signin" method="post">{% csrf_token %}
      <h2 class="form-signin-heading">Sign Up</h2>
      <p></p>
      <input id="id_username" placeholder="User Name" name="username" type="text" class="form-control" required="" autofocus="" />
      <p></p>
       <input id="form_email" placeholder="Email" name="email" type="email" class="form-control" required="" autofocus="" />
      <p></p>
      <input id="id_password" placeholder="Password" name="password" type="password" class="form-control" required=""/>
      <p></p>
       <input id="id_password2" placeholder="Confirm Password" name="password2" type="password" class="form-control" required=""/>
      <p></p>
      {% if form.errors %}
      <hr style="    width: 100%;
    height: 1px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 17px;">
       <img src="https://cdn0.iconfinder.com/data/icons/shift-free/32/Error-128.png" height="18" width="18">
       Error:
       <p></p>
       <h1 style="display:block;
       color: #218838;
       font-size: 15px;">{{form.errors}}</h1>

    {% endif %}
		<input type="submit" value="Submit" class="btn btn-primary pull-right" />
		<input type="hidden" name="next" value="{{ next }}" />
    </form>
</body>
</html>